<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Assimp" version="3.0.0" targetFramework="Native" />
  <package id="Assimp.redist" version="3.0.0" targetFramework="Native" />
  <package id="DevIL" version="1.7.8" targetFramework="Native" />
  <package id="DevIL.redist" version="1.7.8" targetFramework="Native" />
  <package id="rxd_glew" version="1.10.0.1" targetFramework="Native" />
  <package id="rxd_glew.redist" version="1.10.0.1" targetFramework="Native" />
</packages>